# for out of source builds
build/

# cmake generates these files
src/countly.hpp
include/countly.hpp

# in case someone runs `cmake .` in project root
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
